#sobre {
    padding: 28px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    gap: 50px;
    border-radius: 100px;
}

h2 {
    font-size: 4rem;
    color: #41e396;
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 1.5%;
}

p {
    font-size: 1.5rem;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#foto img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    justify-content: flex-start;
}